#aboutbox {
	margin: 0 auto; 
	margin-top: 50px;
	padding: 50px; 
	width: 80%;
	border: 1px solid lightgrey; 
	box-shadow: 2px 0px 4px lightgrey; 
}
#ourimgsbox {
	width: 80%; 
	text-align: center; 
	margin: 0 auto;
}
.ourimg {
	display: inline-block; 
	padding: 30px; 
	width: 28%; 
	height: auto;
}