#formwrapper {
	text-align: left;
	width: 50%;
	margin: 0 auto;
}
#boxform {
	text-align: center;
	margin: 20px auto;
	width: 60%;
	padding: 10px;
	border: 1px solid lightgrey;
	box-shadow: 0px 0px 4px lightgrey;
	-moz-box-shadow: 0px 0px 4px lightgrey;
	-webkit-box-shadow: 0px 0px 4px lightgrey;
}
input {
	border: 1px solid lightgrey;
	width: 100%;
}
