.payinp::-webkit-inner-spin-button, 
.payinp::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#order {
	//border: 1px solid black;
	height: auto;
	padding-bottom: 200px;
	text-align: center;
	margin-top: 65px;

	position: relative;

}

#products {
	display: inline-block;
	//border: 1px solid orangered;
	margin-right: 2.5%;
	width: 60%;
	min-width: 240px;
}

.ordering {
	border: 1px solid whitesmoke;
	background: whitesmoke;
	padding: 20px 0px;
	margin: 10px;
	width: auto;
	height: auto;
	text-align: center;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 1px 1px 3px lightgrey; 
	-moz-box-shadow: 1px 1px 3px lightgrey; 
	-webkit-box-shadow: 1px 1px 3px lightgrey;

}

.productdesc {
	display: inline-block;
	vertical-align: top;
	padding: 0px 10px 15px 10px;
	min-width: 240px;
	width: 60%;

	
	height: auto;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}
.pinfo{
	height: auto;
	text-align: left;

	margin-bottom: 15px;
	padding: 6px;

	background: rgba(255, 255, 255, 0.67);
    border: 1px solid lightgray;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	box-shadow: lightgrey 2px 0px 8px 2px;
}

.pinfo:hover{
	opacity: 1;
}

.pinfo h3{
	display: inline-block;
	margin-left: 2%;
}
.pinfo h4{
	display: inline-block;
	color: darkgray;
	margin-right: 2%;
}
.pvalues {
	display: block;
	height: auto;
	text-align: left;
}
.number {
	display: inline-block;
	padding: 4px 0px px 6px;

}

.number select{
	padding:  0px 7px;
	border-radius: 15px;
}

.details{
	display: inline-block;
	height: auto;
	width: auto;

	padding: 0px 0px 0px 6px;
}

.teefeature {
	display: block;
	background: lightgrey; 
	opacity: 0.8; 
	width: 80px;
}

.detblock{
	display: inline-block;
	font-size: 12px;

	padding: 2px;
	background: lightgrey;
	color: grey;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.nprice{
	text-align: center;
	margin: 10px auto;	
}

.remove {
	display: block;
	position: left;
	cursor: pointer;
	font-weight: bold;
	font-size: 0.9em;
	padding-top: 2px;
}
.remove:hover{
	text-decoration: underline;
}

.productwrapper{
	display: inline-block; 

	min-width: 100px; 
	width: 30%; 
	height: auto;
}


.productimg {
/*	display: inline-block;
	vertical-align: top;*/

	min-height: 150px;
	height: auto;

	padding: 2% 0px;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.remcart{

	width: 120px;
	height: 18px;

	background: orangered;
	color: whitesmoke;

	font-family: calibri;
	font-size: 14px;  

	padding: 1px;
	padding-left: 2px;
	margin: 15px 5px 0px 0px;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	cursor: pointer;
}

.lab{
	padding: 2px 2px 2px 4px;
	font-family: calibri;
	font-size: 14px;

	background: lightgrey;
	color: grey;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.labin{
	border: 1px solid lightgrey;
	margin-top: 10px;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


/*payment box*/
#payment{
	height: auto;
	min-height: 300px;

	display: inline-block;
	vertical-align: top;

	background: whitesmoke; 
	
	width: 30%;
	min-width: 240px;
	text-align: center;

	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

	box-shadow: 1px 1px 3px lightgrey; 
	-moz-box-shadow: 1px 1px 3px lightgrey; 
	-webkit-box-shadow: 1px 1px 3px lightgrey;
}

#payflow {
	background: royalblue;
	width: 100%;
	height: 70px;

	border-top-left-radius: 8px;
	-moz-border-top-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;

	border-top-right-radius: 8px;
	-moz-border-top-right-radius: 8px;
	-webkit-border-top-right-radius: 8px;

}

#prepaymethod {
	display: block;
	text-align: left;
	width: 100%;
	height: 200px;
	margin: 0 auto;
	margin-top: 10px;
}

#paymethod{
	display: block;

	width: 100%;
	height: 200px;
	margin: 0 auto;
	margin-top: 10px;
}

#pay {
	float: right;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 15px 30px 15px 30px;
	border: none; 

	background: gold;
	background-image: -webkit-linear-gradient(top, gold, gold);
	background-image: -moz-linear-gradient(top, gold, gold);
	background-image: -ms-linear-gradient(top, gold, gold);
	background-image: -o-linear-gradient(top, gold, gold);
	background-image: linear-gradient(to bottom, gold, gold);

	box-shadow: 2px 0.5px 2px orange; 
	 -moz-box-shadow: 2px 0.5px 2px orange; 
	 -webkit-box-shadow: 2px 0.5px 2px orange; 
	 text-decoration: none;
}

.pline{
	text-align: center;
}

.inpblock{
	font-family: arial;
	font-size: 10px;

	color: grey;
	width: 185px;
	display: inline-block;

	margin: 5px;
}

.inpblockx{
	font-family: arial;
	font-size: 10px;

	color: grey;
	width: 290px;
	display: inline-block;

	margin: 5px;
}


.payinp{
	width: 180px; 
	height: 40px;

	font-size: 16px;
	padding: 0px 5px;

	border: 1px solid lightgrey;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: inset 1px 0px 3px lightgrey;
}

#payinpex{
	width: 380px; 
	height: 40px;

	font-size: 16px;
	padding: 0px 5px;

	border: 1px solid lightgrey;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: inset 1px 0px 3px lightgrey;
}

#payinpex2{
	width: 290px; 
	height: 40px;

	font-size: 16px;
	padding: 0px 5px;

	border: 1px solid lightgrey;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: inset 1px 0px 3px lightgrey;
}



#nbutton{
	width: 60px;
	height: 40px;

	font-family: Arial;
	font-size: 14px;

	padding: 6px 8px 5px 8px;
	text-align: center;

	background: royalblue;
	color: whitesmoke;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	float: right;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 30px;

	cursor: pointer;
}


/* Recommender */

.recommender {
	height: auto;
	width: auto;

	margin: 0px 0px 60px 0px; 
	padding: 20px 0px 40px 0px;

	background: whitesmoke; 
  	background: -webkit-linear-gradient(right, white, whitesmoke); 
  	background: -o-linear-gradient(right, white, whitesmoke); 
  	background: -moz-linear-gradient(right, white, whitesmoke); 
  	background: linear-gradient(to right, white, whitesmoke);

  	box-shadow: inset 0px 1px 14px lightgrey;
  	text-align: center;
}

.recommender .productbox {
	height: 180px;
	width: 120px;
	padding-left: 15px;
	padding-right: 15px;
}

.recommender .pimg {
	height: auto;
	min-height: 100px;
	width: auto;
	min-width: 80px;
}

.recommender .pname {
	width: auto;
	//height: 10%;
	padding: 2px;
	font-size: 10px;
}

.recommender .pdesc {
	width: auto;
	font-size: 10px;
}

#nocart{
	min-width: 200px;

	background: whitesmoke;
	color: grey;

	padding: 20px 20px;
	margin: 0px 0px 30px 0px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#totalcart{
	min-width: 200px;

	background: whitesmoke;
	color: grey;

	padding: 20px 20px;
	margin: 10px auto;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	text-align: right;
}

#checklog{
	width: 220px;

	color: grey;

	font-family: arial;
	font-size: 14px;

	margin: 20px auto; 
}

#orderlog{
	width: 100px;
	height: 30px;

	color: black;
	border: 1px solid grey;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	margin: 20px auto;
	padding: 10px 5px 0px;

	cursor: pointer;
	opacity: 0.8;

}

#orderlog:hover{
	opacity: 1;
}


.adders{
	float: left;
	font-size: 13px;

	width: auto;
	height: 18px;
	color: grey;

	margin: 0px 0px;
	vertical-align: middle;
}

#adder1{
	margin-left: 10px;
}

.delv{
	float: right;
	display: block;
	font-size: 13px;

	width: auto;
	height: 20px;
	color: grey;

	margin: 0px 0px;
	margin-right: 20px;
	vertical-align: middle;
}

#blockpline{
	height: 60px;
	margin-bottom: 0px;
}

@media screen and (max-width: 1260px){

 #adder1{
 	margin-left: 20px;
 }

 .delv{
 	margin-top: 10px;
 }

 #payinpex, #payinpex2, .inpblockx{
 	width: 250px;
 }

}

@media screen and (max-width: 850px){
 .productdesc .nprice {
 	clear: both;
	display: inline-block;
 }

 .pinfo{
 	width: 70%;
 	margin: 20px auto;
 	margin-top: 0px;

 	margin-left: 10px;
 }

 .pinfo h3{
 	font-size: 14px;
 }

 .pinfo h4{
 	font-size: 14px;
 }

 #nocart{
 	font-size: 14px;
 }

 #payinpex, #payinpex2, .inpblockx{
 	width: 200px;
 }

}

