.wrapper{

}

.pname{
	box-shadow: 2px 0.5px 2px lightgrey; 
	-moz-box-shadow: 2px 0.5px 2px lightgrey; 
	-webkit-box-shadow: 2px 0.5px 2px lightgrey; 

	border: 0px solid lightgrey;
	margin-bottom: 3px;
}

#prohead{
	width: auto;
	max-width: 1000px;
	height: auto;
	position: relative;

	margin: 20px auto;
	padding: 15px 5px;
	
	background: whitesmoke;
	border: 1px solid whitesmoke;	

	text-align: center;
	z-index: 0;
}

#proimg{
	height: 400px;
	width: 65%;
	min-width: 250px;

	display: inline-block;
	vertical-align: top;

	background: rgba(255,255,255,0.2);

	border: 1px solid white;

	box-shadow: 1px 0px 10px lightgrey;
	-moz-box-shadow: 1px 0px 10px lightgrey;
	-webkit-box-shadow: 1px 0px 10px lightgrey;

	background-size: contain;
	background-repeat: no-repeat no-repeat;
	background-position: center;
}

#prodesc{
	height: 400px;
	width: 30%;
	min-width: 250px;

	display: inline-block;
	vertical-align: top;

	border: 0px solid white;
	padding: 0px 10px 0px 10px;
}

#prod_price{
	display: inline-block;
	height: 20px;
	width: 50px;
	text-align: center;
	background: gold;
	float: right;

	padding: 10px 10px;
	margin: 0px 3px 5px 0px;

	box-shadow: 2px 0.5px 2px orange; 
	-moz-box-shadow: 2px 0.5px 2px orange; 
	-webkit-box-shadow: 2px 0.5px 2px orange; 
}

#prod_price_box{
	display: inline-block;
	height: 20px;
	width: 50px;
	text-align: center;
	float: right;

	padding: 10px 10px;
	margin: 8px -10px 5px 0px;

	border: 0px dotted lightgrey;
	background: white;

	box-shadow: 2px 0.5px 2px lightgrey; 
	-moz-box-shadow: 2px 0.5px 2px lightgrey; 
	-webkit-box-shadow: 2px 0.5px 2px lightgrey; 
}

#procart{
	width: 45%;
	height: 15px;

	font-family: calibri;
	font-size: 14px;

	background: grey;
	color: white;
	border: 1px solid lightgrey;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out;

	padding: 10px 0px;
	cursor: pointer;
	display: inline-block;
	opacity: 0.5;
}

#procart:hover{
	opacity: 0.8;
}

#procart2{
	width: 45%;
	height: 15px;

	font-family: calibri;
	font-size: 14px;

	background: grey;
	color: white;
	border: 1px solid lightgrey;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out;

	padding: 10px 0px;
	cursor: pointer;
	display: inline-block;
	opacity: 0.5;
}

#procart2:hover{
	opacity: 0.8;
}

#probuy{
	width: 45%;
	height: 15px;

	font-family: calibri;
	font-size: 14px;
    font-weight: 500;
    color: black;
    background: gold;
    border: 1px solid #FFEB3B;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out;

	padding: 10px 0px;
	cursor: pointer;
	display: inline-block;
}

#probuy:hover{
	opacity: 0.8;
}

#cartmess{
	background: #ff4949;
    color: white;

    font-family: calibri;
    font-size: 14px;

    margin-top: 0px;
    padding: 2px 0px;

    border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;

    border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;

    box-shadow: 2px 0px 3px 0px lightgrey;

    display: none;
}

.simbox{
	height: 40px; 
	font-size: 14px;

	background: whitesmoke;
	padding: 2px 0px;
}

.sm{
	border: 1px solid lightgrey;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    box-shadow: 2px 0px 3px 0px lightgrey;
    -moz-box-shadow: 2px 0px 3px 0px lightgrey;
    -webkit-box-shadow: 2px 0px 3px 0px lightgrey;
}

#prodesigner{
	height: 150px;
	margin-bottom: 0px;
}

.typebox{
	height: 20px;
	max-width: 60px;

	display: inline-block;
	vertical-align: top;
	border: 2px solid lightgrey;


	padding: 5px 2px 4px 2px;
	margin-top: 3px;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out;

	cursor: pointer;
}

.typebox:hover{
	background: grey;
	border: 2px solid grey;
	opacity: 0.9;
}

#typebox1{

}

#typebox2{
	
}

#typebox3{
	
}

.sizebox{
	height: 20px;
	width: 28px;

	display: inline-block;
	vertical-align: top;
	border: 2px solid lightgrey;

	padding: 5px 0px 4px 0px;
	margin-top: 3px;

	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out;

	cursor: pointer;
}

.sizebox:hover{
	background: grey;
	border: 2px solid grey;
}

#procolor{
}

.colbox{
	height: 24px;
	width: 24px;

	display: inline-block;
	vertical-align: top;
	border: 2px solid lightgrey;

	padding-top: 10px;

	border-radius: 13px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;

	cursor: pointer;
}

#colbox1{
	background: white;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out;
}

#colbox1:hover{
	border: 2px solid darkgrey;
}

#colbox2{
	background: grey;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out;
}

#colbox2:hover{
	border: 2px solid darkgrey;
}

#colbox3{
	background: royalblue;

	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out;
}

#colbox3:hover{
	border: 2px solid darkgrey;
}


#prorecomm{
	height: 300px;
	width: auto;

	margin: 60px 0px; 

	background: whitesmoke; 
  	background: -webkit-linear-gradient(right, white, whitesmoke); 
  	background: -o-linear-gradient(right, white, whitesmoke); 
  	background: -moz-linear-gradient(right, white, whitesmoke); 
  	background: linear-gradient(to right, white, whitesmoke);
}

@media screen  and (max-width: 819px){
	#prodesc{
		width: 65%;
	}

	#proimg {
		height: 300px;
	}
}