#profileinfo {
	width: 45%;
	height: auto;
	padding: 30px;
	border: 1px solid lightgrey;

	box-shadow: 2px 2px 3px lightgrey;

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;

	margin: 20px auto;
	text-align: center;
}

#userimg {
	display: inline-block;
}

#usrimg {
	width: 100px;
	height: auto;
	border: 2px solid lightgrey;

	padding-top: 3px;
}

#usrinfo {
	display: inline-block;
	text-align: center;
	padding: 20px;
	vertical-align: top;
}
#username {
	margin-bottom: 5px;
}

#usercity {
	cursor: pointer;
}

#tablewrapper {
	width: auto;
	height: auto;
	border: 1px solid rgb(153, 234, 253);
	box-shadow: inset 0px 0px 40px rgb(153, 234, 253);
	background: rgba(153, 234, 253, 0.43);
	padding: 40px;
}

#userorders{
	margin: 30px auto;
	background: white;
	border-collapse: collapse;
}
#userorders th {
	padding: 5px;
}

#userorders tr td:first-child {
	border-left: none;
}
#userorders td {
	margin: 5px 2.5px;
	padding: 5px;
	border-left: 2px solid royalblue;
	text-align: center;

}
#userorders thead tr {
	border-bottom: 15px solid rgb(211, 246, 254);
}

#userorders tr {
	border-bottom: 10px solid rgb(211, 246, 254);
}

#userorders tr td:last-child {
	padding-right: 10px;
}

#noorders {
	text-align: center;
	margin: 15px auto;
	padding: 10px;
	width: 60%;
	min-width: 230px;
	background: white;
	border-radius: 2px;
	box-shadow: 0px 0px 4px 2px rgb(153, 234, 253);
}
#noorders div {
	display: inline-block;
	padding: 5px;
}

.receiptlnk {
	padding: 5px;
	width: 50px;
	height: 20px;
	background-color: rgb(153, 234, 253);
	border-radius: 5px;
	box-shadow: 2px 2px 0px 0px rgb(0, 188, 212);
	cursor: pointer;
}

#noorders .receiptlnk {
	background-color: gold;
	box-shadow: 2px 2px 0px 0px #ff9800;
}

.searchinput{
	width: 49.2%;
	min-width: 220px;
	height: 38px;
}

#checklogx{
	width: 100%;
}

@media screen and (max-width: 500px){

	#profileinfo {
		margin-top: 0px;
	}

	#tablewrapper {
		padding: 20px;

	}

	#userorders {
		font-size: small;
	}

	#checklogx{
		font-size: 12px;
	}

}
