.receipt{
	width: 600px;
	height: auto;

	padding: 30px;
	margin: 40px;

	display: inline-block;
	vertical-align: top;
	font-family: arial;
	border: 1px solid lightgrey;

	box-shadow: 0px 0px 4px 2px lightgrey;
	-moz-box-shadow: 0px 0px 4px 2px lightgrey;
	-webkit-box-shadow: 0px 0px 4px 2px lightgrey;
}

.sharereceipt{
	width: 300px;
	height: auto;

	padding: 30px;
	margin: 10px;

	display: inline-block;
	vertical-align: top;

	border: 1px solid green;
}

#recheader {
	height: auto;
	min-height: 70px;
	text-align: left;
}
#recname{
	padding: 10px 0px 0px 10px;
	display: inline-block;
	color: #00c7dd;
	text-align: left;
}

#reclogo {
	float: right;
	width: 100px;
	height: auto;
}

#deliveryinfo {
	display: block;
	padding: 10px;
	//border: 2px solid blue;
}

#rowdelvbox {
	display: inline-block;
}

.deliveries {
	text-align: left;
	vertical-align: top;
	padding: 12px;
	display: inline-block;
	height: auto;
	font-size: 0.8em;
}

.deliveries p {
	width: auto;
}

#itemstable {
	margin-top: 10px;
	width: 100%;
	height: auto;
}

#buyobjs {
	width: 100%;
	margin: 0 auto;
	border: 1px solid lightgray;
	border-collapse: collapse;
	table-layout: fixed;
}

#buyobjs th {
	border: 1px solid lightgray;
	padding: 5px;
}

#buyobjs td {
	text-align: center;
    padding: 5px;
    word-wrap: break-word;
}

#buyobjs tr:nth-child(2n+3){
	background-color: rgba(154, 234, 253, 0.35);
}

#buyobjs tr:first-child {
	background-color: rgb(154, 234, 253);
}

#payinfo{
	padding-top: 10px;
	margin: 10px auto;
	border-collapse: collapse;
	table-layout: fixed;
	
}

#payinfo td {
	border: 1px solid lightgray;
    padding: 5px;

    word-wrap: break-word;
}

#recfooter {
	margin-top: 20px;
	font-size: 0.8em;
	height: auto;
	text-align: left;
	padding: 5px;
}

@media screen and (max-width: 750px){

	.receipt{
		margin: 20px 0px;

		padding: 5px;
		width: calc(100% - 15px);
		height: auto;
		
	}

	#buyobjs {
		width: auto;
	}

	#itemstable {
		height: auto;
		overflow-x: auto;
	}

	#buyobjs th, tr, td {
		width: auto;
	}

}