*{

	padding: 0px;
	margin: 0px;

	font-family: montserrat;
}

::-webkit-input-placeholder { 
  color: lightgrey;
}
::-moz-placeholder { 
  color: lightgrey;
}
:-ms-input-placeholder { 
  color: lightgrey;
}
:-moz-placeholder { 
  color: lightgrey;
}

@font-face{font-family: montserrat; src: url(../fonts/montserrat.otf);}

input{
	width: 200px;
	height: 40px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	border: 1px solid whitesmoke;
	padding: 2px 5px;
	margin: 2px;
}

input[type=submit]{
	background: #00a4ca;
	color: whitesmoke;
	opacity: 0.8;

	cursor: pointer;
}

input[type=submit]:hover{
	opacity: 1;
}

input[type=checkbox]{
	height: 18px;
}

.wrapper{

}

/* HEADER */

.headernav{
	height: 60px;
	width: 100%;

	background: white; 
  	background: -webkit-linear-gradient(right, white, whitesmoke); 
  	background: -o-linear-gradient(right, white, whitesmoke); 
  	background: -moz-linear-gradient(right, white, whitesmoke); 
  	background: linear-gradient(to right, white, whitesmoke);

  	text-align: center;
}

#mobilenav{
	display: none;
}

.searchbar{
	height: 70px;
	width: auto;
	text-align: center;
	background: #00ceff;
	z-index: 20;
}

.searchinput{
	width: 50%;
	min-width: 220px;
	height: 40px;
	margin: 12.5px 0px 0px;

	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;

	text-decoration: none;
	border: 1px solid darkgrey;
	padding: 0px 5px;
}

.result {
	width: 50%;
	min-width: 220px;
	height: auto;
	max-height: 80%;
	overflow-y: scroll;
	margin: 0 auto;
	background-color: white;

	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;

	position: absolute; 
	left: 0;
	right: 0;
	z-index: 10;
	
}

.resultobj{
	height: 60px;
	text-align: left;
    border-bottom: 1px solid lightgray;

}

.matchbox {
	display: inline-block;
	max-width: 80%;
}

.matchname {
	display: inline-block;
    padding: 16px 0px 16px 8px;
}

.matchdesigner {
	width: auto;
	display: inline-block;
    padding: 16px 16px 16px 0px;
    font-size: 0.8em;
    color: gray;
}

.resultobj:hover {
	background: whitesmoke;
	cursor: pointer;
}

.searchimg {
	float: right;
	height: 50px;
	width: auto;
	max-width: calc(30% - 10px);
    margin: 5px;
}

.productlist{
	border-top: 1px solid lightgrey;

	box-shadow: 0px 3px 10px white;
	-moz-box-shadow: 0px 3px 10px white;
	-webkit-box-shadow: 0px 3px 10px white;
}

#logo{
 	height: 58px;
 	width: 105px;

 	float: left; 	

 	margin: 0px 5px;
 	display: inline-block;
 	cursor: pointer;
}

#navlist{
	margin-right:50px;

	vertical-align: top;
	display: inline-block;
}

.nav{
	height: ;
	width: ;

	color: grey;
	font-family: montserrat;
	font-size: 15px;
	
	margin: 20px 10px;
	display: inline-block;

	cursor: pointer;

}

.nav:hover{
	color: black;
}

#cart {
	height: 16px;
	width:  16px;

	opacity: 0.7;
}

#cart:hover{
	opacity: 1;
}


/*MAIN BODY---------------------------------------*/

#onsale {
	text-align: center;
	height: auto;
	background-color: rgba(153, 234, 253, 0.43);
	padding: 10px 0px 40px 0px;
}

.saleitem {
	display: inline-block;
	height: auto;
	width: 290px;
	background-color: white;
    padding: 10px;
	margin: 25px 5px 5px 5px;
	
	box-shadow:  0px 2px 10px #00a4ca;
	-moz-box-shadow:  0px 2px 10px #00a4ca;
	-webkit-box-shadow:  0px 2px 10px #00a4ca;
}

.saletitle{
	padding: 3px 3px 3px 8px;	
	height: 45px;
	width: auto;
	text-align: left;
	background: black;
	cursor: pointer;
}

.teename {
	display: block;
	max-width: 140px;
	color: white;
}

.teedesigner {
	width: auto;
	max-width: 140px;
	padding-top: 1px;
	color: #d0d0d0;
	font-size: 0.80em;
}

.saleprice {
	margin: -29px auto;
    width: 55px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    background: white;
    border-radius: 40px;
    border: 4px solid #2196F3;
    text-align: center;
    vertical-align: middle;
    padding: 15px 8px;
    cursor: pointer;
}


.salephoto {
	display: inline-block;
	width: 100%;
	height: auto;
	cursor: pointer;
}

.salead {
	float: right;
	width: 45px;
	height: auto;

	margin-top: -20px;
	margin-right: -20px;
}







/* BODY */

.productlist{

	padding: 20px;
	text-align: center;
}

.productbox{
	height: 460px;
	width: 300px;

	border: 1px solid lightgrey;

	padding: 10px;
	margin: 0px 10px 20px;

	display: inline-block;
	text-align: center;

	cursor: pointer;

	box-shadow: 2px 0.5px 2px lightgrey; 
	-moz-box-shadow: 2px 0.5px 2px lightgrey; 
	-webkit-box-shadow: 2px 0.5px 2px lightgrey; 
}

.productbox:hover{
	background: whitesmoke;
	border: 1px solid lightgrey;
}

.pimg{
	height: 350px;
	border: 1px solid lightgrey;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.pname{
	background: white;
	border: 1px solid lightgrey;
	font-family: montserrat;

	padding: 5px;
	margin-top: 10px;
}

.pdesc{

	font-size: 13px;
	padding: 3px;
	text-align: left;
}

.pprice{
	height: 20px;
	width: 100px;

	background: gold;
	float: right;

	padding: 10px 0px;
	margin: 0px 3px 5px 0px;

	box-shadow: 2px 0.5px 2px orange; 
	-moz-box-shadow: 2px 0.5px 2px orange; 
	-webkit-box-shadow: 2px 0.5px 2px orange; 

	text-align: center;
}

#des{
	color: grey;
	font-style: italic;

	text-decoration: none;
}

#des:hover{
	color: black;
}


/* FOOTER */

#sharing {
	font-family: montserrat;
	font-size: 14px;

	padding: 5px 0px 40px 0px;
	margin: 20px 0px 0px 0px;
	line-height: 30px;
	text-align: center;
}

.social {
	width: 20px;
	height: 20px;
}

#navsite{

}

#footlink{
	width: 100%;
	background: whitesmoke;
	color: grey;

	font-family: arial;
	font-size: 14px;

	border-top: 0px dotted lightgrey;
	box-shadow: 0px 3px 30px lightgrey;

	padding-top: 10px;
	margin-top: 40px;

}

#footerdesc {
	text-align: center;
	padding-bottom: 80px;
	line-height: 200%;
	background: whitesmoke;
	color: grey;

	border-bottom: 50px solid lightgrey;
	
}

/* COMMON */

#prorecomm{

}

#recbox{
	height: 100px;
	width: auto;

	margin: 60px 0px; 
}

#loginex{
	margin: 20px auto; 
	margin-top: 50px; 

	width: 400px; 
	text-align: center;
}

#logdiv{
	width: 300px; 
	padding: 20px; 

	border: 1px solid whitesmoke; 
	margin: auto;
	padding: 40px 20px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	box-shadow: 0px 3px 8px lightgrey; 
	-moz-box-shadow: 0px 3px 8px lightgrey; 
	-webkit-box-shadow: 0px 3px 8px lightgrey; 
}

#regdiv{
	width: 300px; 
	padding: 20px; 

	border: 1px solid whitesmoke; 
	margin: auto;
	padding: 40px 20px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	box-shadow: 0px 3px 8px lightgrey; 
	-moz-box-shadow: 0px 3px 8px lightgrey; 
	-webkit-box-shadow: 0px 3px 8px lightgrey; 

	display: none;
}

#raise{
	width: 200px;

	padding: 5px; 
	margin: auto;
	margin-top: 35px; 

	background: whitesmoke;
	font-size: 13px;
}

.helper-text{
	width: 180px;

    margin: 6px auto;
    text-align: left;

    padding: 2px 10px;

    font-size: 10px;
    line-height: 22px;
    color: orangered;

    border: 1px solid whitesmoke;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: whitesmoke;
    list-style-type: none;
    display: none;
}

.valid{
	color: #1fd34a;
}

.pass-yes, .email-yes{
	width: 180px;

    margin: 6px auto;
    padding: 2px 10px;

    font-size: 10px;
    line-height: 22px;
    color: #1fd34a;

    border: 1px solid whitesmoke;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: whitesmoke;
    display: none;
}

.pass-no, .email-no{
	width: 180px;

    margin: 6px auto;
    padding: 2px 10px;

    font-size: 10px;
    line-height: 22px;
    color: orangered;

    border: 1px solid whitesmoke;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: whitesmoke;
    display: none;
}

#reginp{
	cursor: not-allowed;
}

#err{
	width: 250px;
	height: auto;

	text-align: center;
	margin: 40px auto;
	padding: 40px 2px;

	background: whitesmoke;
	color: grey;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

@media screen and (max-width: 600px){

/*HEADER*/
	.resultobj {
		height: auto;
		min-height: 60px
	}	
	.matchbox{
		padding: 5px 0px;
		width: auto;
		max-width: 70%;
	}
	.matchname{
		display: block;
		padding: 0px 0px 5px 8px;
	}
	.matchdesigner{
		display: block;
		padding: 5px 0px 0px 8px;
	}
	.searchimg{
		width: auto;
		max-width: 28%;
	}

/*BODY*/
	.saleitem {
		width: 210px;
	}

	.productbox {
		width: 250px;
		height: auto;
	}
	.productlist{
		padding: 0px;
	}

	.pimg {
		height: 300px;
	}

	#footerdesc {
		font-size: 13px;
    	padding-bottom: 25px;
    	border-bottom: 30px solid lightgrey;
	}
}

@media screen and (max-width: 500px){
	#logo {
	    height: 51px;
    	width: 98px;
   		margin: 4px 5px;
	}
	#mobilenav {
		display: block;
	}
	#stdnav{
		display: none;
	}
	#navlist{
		margin-right: 0px;
	}

	.mobimg{
		display: inline-block;
		text-align: center;
		opacity: 0.7;
		margin: 20px 10px;
		cursor: pointer;
	}
	.mobimg img {
		width: 20px;
		height: auto;
	}

	#loginex{
		width: 300px;
	}


	#logdiv{
		width: 260px;
		padding: 40px 10px;

		margin: 0px 10px;
	}

	#regdiv{
		width: 260px;
		padding: 40px 10px;

		margin: 0px 10px;
	}

}

